body {
    color: blueviolet;
    background:pink;
}


img {
height: 250px;
padding: 2px;
border: 10px;

}


.gora {text-align: center;}

.lewy {
    float: left;
    text-size-adjust: 15px;
}

.prawy {
    float: right ;
    
}


.dol {
    clear: both;
    
}

.dol [img]
{
  height: 500px;
  width: 800px;
}
